<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? "#{@title} - " : "" %>Rails Server Monitor Engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= safe_render_js "rails-server-application", 'data-turbolinks-track': "reload" %>
  <%= safe_render_css "rails-server-application", 'data-turbolinks-track': "reload" %>
</head>
<body>

<div class="flex">
  <div class="overflow-y-auto fixed top-0 left-0 bottom-0 bg-white w-1/5">
    <%= render RailsServerMonitor::LeftbarComponent.new(ctx: self) %>
  </div>
  <div class="w-1/5 mr-4"></div>

  <div class="flex-1">
    <%= yield %>
  </div>
</div>

</body>
</html>
